@use "variable"as v;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body,
button,
input,
textarea {
	font-family: v.$body-font;
    font-size: v.$normal-font-size;
}

body {
    margin: v.$header-height 0 0 0;
    background-color: v.$body-color;
    color: v.$text-color;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

h1, h2, h3 {
    color: v.$title-color;
    font-weight: v.$font-semi-bold;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}