@use 'variable' as v;

.header {
    width: 100%;
    background-color: v.$body-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: v.$z-fixed;
    transition: .4s; //for animation dark mode;
}

.nav {
    height: v.$header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo, 
    &__toggle,
    &__close {
        color: v.$title-color;
    }

    &__logo {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: -1px;
        display: inline-flex;
        align-items: center;
        column-gap: .5rem;
        transition: .3s;

        :hover {
            color: v.$first-color;
        }
    }

    &__logo-icon {
        font-size: 1.15rem;
        color: v.$first-color;
    }

    &__toggle {
        display: inline-flex;
        font-size: 1.25rem;
        cursor: pointer;
    }

    &__close {
        font-size: 1.5rem;
        position: absolute;
        top: 1rem;
        right: 1.25rem;
        cursor: pointer;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
    }

    &__link {
        color: v.$title-color;
        font-weight: v.$font-medium;
        transition: .3s;

        :hover {
            color: v.$first-color;
        }
    }
}

@media screen and (max-width: 767px) {
    .nav {
        &__menu  {
            position: fixed;
            background-color: v.$container-color;
            width: 80%;
            height: 100%;
            top: 0;
            right: -100%;
            box-shadow: -2px 0 4px hsla(v.$hue, 24%, 15%, .1);
            Padding: 4rem 0 0 3rem;
            border-radius: 1rem 0 0  1rem;
            transition: .3s;
            z-index: v.$z-fixed;
        }
        
        &__btns {
            display: inline-flex;
            align-items: center;
            column-gap: 1rem;
        }
    }
}

.show-menu {
    right: 0;
}

.scroll-header {
    box-shadow: 0 1px 4px hsla(v.$hue, 4%, 15%, .1);
}

.active-link {
    position: relative;
    color: v.$first-color;

    &::after {
        content: '';
        position: absolute;
        bottom: -.5rem;
        left: 0;
        width: 50%;
        height: 2px;
        background-color: v.$first-color;
    }
}