@use 'variable' as v;

.scrollup {
    position: fixed;
    background-color: v.$first-color;
    bottom: -30%;
    right: 1rem;
    display: inline-flex;
    padding: .5rem;
    border-radius: .25rem;
    z-index: v.$z-tooltip;
    opacity: .8;
    transition: .4s;

    &__icon {
        font-size: 1rem;
        color: v.$container-color;
    }

    &:hover {
        background-color: v.$first-color-alt;
        opacity: 1;
    }
}

/* ====== show scroll up ====== */
.show-scroll {
    bottom: 3rem;
}

::-webkit-scrollbar {
    width: .6rem;
    background: hsl(v.$hue, 4%, 53%);
}

::-webkit-scrollbar-thumb {
    background: hsl(v.$hue, 4%, 29%);
    border-radius: .5rem;
}